<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/nav')%>
    <a href="/foods">Browse LeFoodz</a>
    <title>LeFoodz</title>
</head>
<body>
    <h1>Welcome to LeFoodzShowcase</h1>
    <p>First Class Le Food Showcase for your amazing leFood from leDifferento Countries</p>
    <p>Si very bueno!</p>
</body>
</html>