<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/nav') %>
    <title>Food</title>
</head>
<body>
    <h1>Welcome to LeFoodShowcase</h1>
    <p>First Class Le Food Showcase</p>
    
</body>
</html>